# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo

# =====================================
# Virtual environments
# =====================================
venv/
.env/
.venv/

# =====================================
# Jupyter
# =====================================
.ipynb_checkpoints/

# =====================================
# VSCode
# =====================================
.vscode/

# =====================================
# OS
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Logs
# =====================================
*.log

# =====================================
# Chrome / Selenium
# =====================================
chrome_profile/
chromedriver-win64/
*.tmp

# =====================================
# Ignore ALL CSV everywhere
# =====================================
*.csv

# =====================================
# Ignore ALL ZIP files
# =====================================
*.zip

# =====================================
# Ignore big data folders
# =====================================
data/
outputs/
cache/
debug/
exports/
ml-workspace/outputs/
ml-workspace/raw data/
ml-workspace/route data/
ml-workspace/trained models/
# =====================================
# Models
# =====================================
*.pkl
*.joblib

# =====================================
# Large files
# =====================================
*.parquet
*.feather
*.h5

# =====================================
# Excel exports
# =====================================
*.xlsx